.game-window{
    position: relative;
    
    box-sizing: border-box;

    margin: auto;
    width: fit-content;
    overflow: hidden;

    max-width: 100%;
    outline: none;
}

.game-window > *:first-child{
    display: block;
    max-width: 100%;
}

.game-window > .router-window > *:last-child{
    position: absolute;
    top: 0;    left: 0;    right: 0;    bottom: 0;
    overflow: hidden;
}

.game-window > .router-window > div {pointer-events: none;}